<main class="container-fluid ">
    <h1>Bootstraps and Examples</h1>
    <ul>
        <li>Short description of the default DMLA2.0 Bootstrap
            (<a href="assets/examples/DMLA_Elements_web.pdf" target=”_blank”>File</a>)
        </li>
        <li>
            DMLA2.0 Bootstrap
            <ul>
                <li>XML serialization
                    (<a href="assets/examples/bootstrap.zip" target=”_blank”>File</a>)
                </li>
                <li>DMLAScript
                    (<a href="assets/examples/bootstrap_dmla.zip" target=”_blank”>File</a>)
                </li>
            </ul>
        </li>
        <li>
            Detailed example - Person
            <ul>
                <li>DMLAScript with detailed description
                    (<a href="assets/examples/person_def.dmla.txt" target=”_blank”>
                        Meta definitions
                    </a>,
                    <a href="assets/examples/person.dmla.txt" target=”_blank”>
                        Instances
                    </a>)
                </li>
                <li>XML representation
                    (<a href="assets/examples/person_def.xml" target=”_blank”>
                        Meta definitions
                    </a>,
                    <a href="assets/examples/person_valid.xml" target=”_blank”>
                        Valid instances
                    </a>,
                    <a href="assets/examples/person_invalid.xml" target=”_blank”>
                        Invalid instances
                    </a>
                    )
                </li>
                <li>Full XML representation (Bootstrap+example) <b>TODO ez mi??? (előző is kis mértékben)</b>
                    (<a href="assets/examples/dmla_withPerson_valid.zip" target=”_blank”>
                        Valid instances only
                    </a>,
                    <a href="assets/examples/dmla_withPerson_invalid.zip" target=”_blank”>
                        All instances
                    </a>)
                </li>
            </ul>
        </li>
        <li>
            The Bicycle Challenge (2018)
            <ul>
                <li>DMLAScript with comments
                    (<a href="assets/examples/bicycle.dmla.txt" target=”_blank”>File</a>)
                </li>
                <li>XML representation (including Bootstrap and domain entities)
                    (<a href="assets/examples/bicycle_with_bootstrap.zip" target=”_blank”>File</a>)
                </li>
            </ul>
        </li>
        <li>
            The Process Challenge (2019)
            <ul>
                <li>DMLAScript with comments
                    (<a href="assets/examples/process.dmla.txt" target=”_blank”>File</a>)
                </li>
                <li>XML representation (including Bootstrap and domain entities)
                    (<a href="assets/examples/process_with_bootstrap.zip" target=”_blank”>File</a>)
                </li>
            </ul>
        </li>
        <li>
            Specifying Classic Potency with DMLA (2019)
            <ul>
                <li>DMLAScript
                    (<a href="assets/examples/potency_classic.dmla.txt" target=”_blank”>File</a>)
                </li>
            </ul>
        </li>
        <li>
            Collaborative Comparison Challenge with Melanee (2021)
            <ul>
                <li>TODO
                    (<a href="assets/examples/TODO.dmla.txt" target=”_blank”>TODO</a>)
                </li>
            </ul>
        </li>
        <li>
            Collaborative Comparison Challenge with DeepTelos (2022)
            <ul>
                <li>TODO
                    (<a href="assets/examples/TODO.dmla.txt" target=”_blank”>TODO</a>)
                </li>
            </ul>
        </li>
    </ul>        

    
</main>