<main class="container-fluid ">
    <h1>Multi-Level Modeling Playground (MLMP)</h1>
    
    <h2>TODO tervezet</h2>
    <ol>
        <li>Intro - mi ez, mire jó, kb ahogy most van, az ábrával együtt</li>
        <li>Példák - Melanee-s cikkből + classic potency?</li>
        <li>Részletek - moduláris architektúra, validáció, szöveges nyelv</li>
        <li>További részletek és példák a github repon, including MLSL syntax guide PDF</li>
    </ol>

    <p>MLMP is a validating, modular and general multi-level modeling
        playground built upon DMLA. Using MLMP, one can specify the underlying
        structure and semantics of multi-level constructs, like the different
        variants of the potency notion. This makes it possible to experiment with
        novel multi-level ideas without having to build the underlying tool chain.
        Construct specification is governed by a high level, textual
        domain-specific language, the Multi-Level Specification Language (MLSL).
        MLMP also supports the creation of domain models on which existing
        construct specifications can be tested and evaluated in practice.
    </p>
    <p>The specification of several multi-level constructs along
        with the brief syntax definition of MLSL can be found at: <a href="https://github.com/bmeaut/MLMP">https://github.com/bmeaut/MLMP</a> </p>

    <img src="assets/images/Playground_Concepts.png">
</main>