<main class="container-fluid ">
    <h1>Introduction</h1>
    <p>DMLA is a multi-level instantiation technique based on
        Abstract State Machines (ASM). DMLA consists of two major parts:
        The first part (the Core) defines the modeling structure,
        namely an abstract state machine and a set of connected functions that specify
        the transition logic between the states.
        The second part (the Bootstrap) is an initial set of modeling constructs,
        built-in model elements (e.g. built-in types) that are necessary to adapt the
        abstract modeling structure to practical applications.
        The Bootstrap also contains the formal definition of the precise instantiation
        mechanism via reified validation constructs.
        The two parts have been intentionally kept separate since the algebraic part
        is structurally self-contained and isolated from the peculiarities of the
        different Bootstraps. Hence, any particular Bootstrap genuinely seeds
        the concrete meta-modeling capabilities derived from the generic DMLA.
        This may be considered to be one of its most novel aspects when compared to
        the unlimited and universal modeling capability other approaches, like
        the potency notion provides at all meta-levels. In effect, the proper
        selection of Bootstrap entities fully determines the expressibility of DMLA's
        modeling capabilities available on lower meta-levels.
    </p>

    <img src="assets/images/core_bootstrap.jpg">
</main>