/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Application-wide Styles */
html {
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1 {
      font-size: 200%;
      margin-bottom: 15px;
    }
    h2, h3 {
      font-weight: lighter;
    }
    body {
      margin: 2em;
    }
    body, input[type="text"], button {
      color: #333;
    }
    button {
      background-color: #eee;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      color: black;
      font-size: 1.2rem;
      padding: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
    button:hover {
      background-color: black;
      color: white;
    }
    button:disabled {
      background-color: #eee;
      color: #aaa;
      cursor: auto;
    }
    
    /* everywhere else */
    * {
      font-family: Georgia, Times New Roman, Serif;
    }

.bg-footer-header {
    //background-color: rgb(89, 95, 95);
    background: url("assets/images/header-container-bg.png") repeat-x scroll 0 0 transparent;
    background-color: transparent;
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-image: url("assets/images/header-container-bg.png");
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    color: #fff;
}