footer {
    background-color: black;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-container p {
    margin-bottom: 0px;
}

.footer-link {
    margin-left: 10px;
}