.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-container p {
    margin-bottom: 0px;
}

.footer-link {
    margin-left: 10px;
}

#container2 {
    flex-direction: row-reverse;
}

a {
    color: white;
}

a:hover {
    color: rgb(226, 217, 217);
}