<footer class="bg-footer-header">
    <div class="container">
        <div class="footer-container text-center pt-4">
            <p>© <span id="year">2022</span>
                Budapest University of Technology and Economics
                - Department of Automation and Applied Informatics (AUT)</p>
            <div>Contact: dmla@aut.bme.hu</div>
        </div>
        <div class="footer-container pb-3" id="container2">
            <a href="https://www.aut.bme.hu/en/" target="#blank">Visit the department website</a>
        </div>
    </div>
</footer>